<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
    <head>
        <title>User Details</title>
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
               
                <h2>USer logged in successfully</h2>
                <form action="/notes/update">
                    <div class="form-group">
                        <label for="title">User name:</label>
                        <input type="text" class="form-control" name="username" th:value="${user.username}" />
                    </div>
                    <div class="form-group">
                        <label for="content">Email id</label>
                        <textarea class="form-control" name="emailId" cols="60" rows="3" th:text="${user.emailid}"></textarea>
                    </div>
                    <input type="hidden" name="id" th:value="${user.id}" />
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Update</button>
                </form>
            </div>
        </div>
    </body>
</html>